<p style="background-color: #CF403A; width: 400px; font-size: 32px;">HĀTE</p>
<p style="background-color: #cf8b3a; width: 400px; font-size: 32px;">HĀTE</p>
<p style="background-color: #346676; width: 400px; font-size: 32px;">HĀTE</p>
<p style="background-color: #266298; width: 400px; font-size: 32px;">HĀTE</p>
<div id="aboutdiv">
	<div class="col-sm-3">
		<h3>About HĀTE</h3>
		<p>HĀTE the Hype</p>
	</div>
	<div class="col-sm-9">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut sapien purus. Sed varius orci augue, at dignissim justo facilisis quis. Phasellus suscipit enim diam, sed volutpat erat gravida et.</p>
		<p>Donec iaculis, mauris a convallis condimentum, nisi quam porta enim, non porttitor massa lectus eget lacus. Integer facilisis, felis eu mattis finibus, quam nulla efficitur metus, ut tincidunt velit tellus pulvinar nisl. Aenean quis massa ut dolor volutpat mattis. Morbi a velit orci. </p>
	</div>
</div>