<div ng-controller="DashboardController">
	<a href='#/create'>Create a New Poll</a>
	<a href='#/'>Logout</a>
	<h1>Welcome {{current_user}}!</h1>
	<h2>Current Polls:</h2>
	<input type="text" ng-model="filter_name" placeholder="Search">
	<table class="table">
		<tr>
			<th>Name</th>
			<th>Survey Question</th>
			<th>Date Posted</th>
			<th>Action</th>
		</tr>
		<tr ng-repeat="poll in polls | filter: filter_name">
			<td>{{poll.user_name}}</td>
			<td><a href="#/poll/{{poll._id}}">{{poll.question}}</a></td>
			<td>{{poll.created_at|date:'MMMM dd, yyyy'}}</td>
			<td ng-if="poll.user_name == current_user"><button ng-click="delete(poll)">Delete</button></td>
		</tr>
	</table>
</div>
