<div ng-controller="DashboardController">
	<a href="#/dashboard" style="float:right">Go to Polls</a>
	<h1>{{current_poll.question}}</h1>
	<p>Click the Vote button to choose one</p>
	<table class="table">
		<tr>
			<th>Option</th>
			<th>Current Count of Votes</th>
			<th>Action</th>
		</tr>
		<tr>
			<td>{{current_poll.option1.name}}</td>
			<td>{{current_poll.option1.votes}}</td>
			<td><button ng-click="upvote1()">Vote</button></td>
		</tr>
		<tr>
			<td>{{current_poll.option2.name}}</td>
			<td>{{current_poll.option2.votes}}</td>
			<td><button ng-click="upvote2()">Vote</button></td>
		</tr>
		<tr>
			<td>{{current_poll.option3.name}}</td>
			<td>{{current_poll.option3.votes}}</td>
			<td><button ng-click="upvote3()">Vote</button></td>
		</tr>
		<tr>
			<td>{{current_poll.option4.name}}</td>
			<td>{{current_poll.option4.votes}}</td>
			<td><button ng-click="upvote4()">Vote</button></td>
		</tr>
	</table>
</div>

