body{
  font-family: 'Poppins', sans-serif !important;
}
a{
  background: none;
}

img{
	position: relative;
  	margin:auto;
  	width: 60%;
  	height: 50%;
}
#slides_control {
  	width: 50%;
  	height: 50%;
}
.carousel .carousel-control { 
	visibility: hidden; 
}