body{
  font-family: 'Poppins', sans-serif !important;
}
#slides_control > div{
  height: 200px;
}
img{
  margin:auto;
  width: 1000px;
  height: 1000px;
}
#slides_control {
  position:absolute;
  width: 400px;
  left:50%;
  margin-left:-200px;
}
.carousel .carousel-control { 
	visibility: hidden; 
}
a{
  background: none;
}

.hero {
  position: relative;
  height: 60vh;
  z-index: -2;
  background: url("https://unsplash.it/2000/800?image=563") center top/cover no-repeat;
}
.overlay {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.6);
}
.main-content {
  background: #f2f2f2;
}

.navbar {
  border-bottom: 1px solid #d1d1d1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navbar .navbar-nav {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-brand {
  font-size: 2.25rem;
  font-weight: 500;
  color: #4b4b4b;
}
.navbar--size--xl {
  padding: 4rem 0;
}
.navbar--size--lg {
  padding: 2rem 0;
}
.navbar--size--md {
  padding: 1rem 0;
}
.navbar--size--sm {
  padding: 0;
}
.navbar--color--white {
  background: #fff;
}
.navbar--color--primary {
  background: #37ca7e;
}
.navbar--color--secondary {
  background: white;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}
.navbar--color--ghost {
  background: rgba(0,0,0,0.2);

}
.navbar--color--ghost .navbar-brand,
.navbar--color--ghost .navbar-text,
.navbar--color--ghost a {
  color: #fff;
}
